{% load static %}
<footer class="footer bg-gradient-dark s-border text-muted">
    <div class="container">
        <p class="lead text-center"><a class="text-muted" href="mailto:ganiyevjahongir03@gmail.com">e-mail</a> - please tell
            us your opinion about get video site.<br>
            We love it when you share GetVideo with friends. Thank you!!
        </p>

        <div class="mt-5 row align-items-top justify-content-md-between">
            <div class="col-md-3 text-center text-md-left">
                <div class="copyright">
                    &copy; 2022,
                    <a class=text-muted href="/">getvideo.ga</a>
                </div>
            </div>
            <div class="col-md-9 text-center text-md-right">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item d-none d-md-inline-block"><a href="index.html" class="nav-link">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js">
<script src="{% static 'youtube/js/jQuery.js' %}"></script>
<script src="{% static 'youtube/js/main.js' %}"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"#}
{#        integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ=="#}
{#        crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}

