{% extends 'youtube/main.html' %}
{% block content %}
    <section class="section bg-gradient-dark text-muted section-md s-border shad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 mb-3">
                    <h2 class="mb-3 text-truncate text-nowrap d-block text-center shad h2-resp display-3">Get video
                        helps download and save online video </h2>
                    <p class=lead>
                        How many times have you cried out in dismay - How do I get that video??? Well, not anymore you
                        will. GetVideo presents the best way to download and save online video - online, right here,
                        using out tools, free and secure, no ads, what else, it's free for everyone and legal if you
                        only keep it for yourself and never give copies to your friends. Now anyone can get video to
                        their device, as long as they got enough Wi-Fi and space in the device's storage. But GetVideo
                        makes it so much easier, and faster, and it works with several hundred websites and online video
                        hosting platforms. All that to help you get video out of these platforms and into your favorite
                        laptop for offline watching during work or long traveling... Good luck! </p>
                </div>
            </div>
            <div class="row row-grid align-items-top">
                <div class="col-lg-6 mt-0">
                    <div class="d-flex">
                        <div class="d-none d-sm-inline-flex icon icon-lg text-primary">
                            <i class="fa fa-video-camera"></i>
                        </div>
                        <div class="pl-sm-4 w-100">
                            <h4 class="text-truncate"><i class="fa fa-video-camera pr-1 d-sm-none"></i> Download Youtube
                                video</h4>
                            <p class="">GetVideo makes it easy to get your favorite YouTube video. Simply use search box
                                above to find whatever you want and download as mp4.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-0">
                    <div class="d-flex">
                        <div class="d-none d-sm-inline-flex icon icon-lg text-primary">
                            <i class="fa fa-music"></i>
                        </div>
                        <div class="pl-sm-4 w-100">
                            <h4 class="text-truncate"><i class="fa fa-music pr-1 d-sm-none"></i> Convert YouTube to mp3
                            </h4>
                            <p class="">Get video saved as mp3 to your device. Use Getvideo to convert and download
                                Youtube video as mp3 file, give us the URL or use search.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <h3 class="my-3 text-truncate text-nowrap d-block text-center shad display-3 h2-resp">Youtube search
                        included. Playlist download supported.</h3>
                    <p>
                        Get-video has many nice features that were made specially for YouTube. Why? Well, you must
                        agree,
                        YouTube has all the freshest beats, all the controversial lives, all the concerts and just
                        songs, karaoke and acapella, from 70-80s and from 2020s... Everything is there. And it makes
                        things so much easier to have builtin YouTube search. Just click in the white box above and
                        start typing artist name or song/video title and our smart suggestions system will help you find
                        whatever your heart desires (on YouTube, not in general).</p>
                    <p>Getvideo makes it very easy to download YouTube by the playlist. Simply hit share to copy the
                        playlist page URL address, then come to Get Video and paste URL into the white box, hit download
                        button. All the videos in that playlist will be shown to you, just pick the ones you like to
                        download as mp4 or convert to mp3, and one after another - just do it.. To be perfectly candid,
                        you can get video playlist from Dailymotion and bring it here and download same as YouTube. Many
                        sites with multi-video posts will be shown as playlists, time to start getting used to it! </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}


